VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=newspaper-page-digest.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=newspaper-page-digest
VITE_FIREBASE_STORAGE_BUCKET=newspaper-page-digest.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=20736600304
VITE_FIREBASE_APP_ID=1:20736600304:web:56b7ee9fca02fc41c7fa35
